<header class="header">
    <div class="logo-box">
        <a href="/">
            <img class="logo" src="imgs/logo-white.png" alt="Logo">
        </a>
        
    </div>

    <div class="text-box">
        <h1 class="heading-primary">
            <!-- span is normally used only to style some text -->
            <span class="heading-primary-main">Outdoors</span>
            <span class="heading-primary-sub">is where life happens</span>
        </h1>
    </div>

</header>